<!DOCTYPE html>
<head>
    <title>书本详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="title"  content="书虫小说——追书看小说，超便捷的手机阅读神器">
	<meta name="keywords"  content="无弹窗小说网小说，免费小说阅读,最热小说排行榜，经典小说排行榜前十名，微微一笑很倾城小说，好看的小说完本推荐，校园言情小说免费阅读，txt小说下载，都市言情小说，穿越玄幻，校园网游，武侠小说">
	<meta name="description"  content="书虫小说与国内各大出版社合作，为小说爱好者提供更多更全的各类免费小说上百万本。包括都市言情小说，穿越玄幻，校园网游，武侠小说等等，是年轻人必备的综合小说阅读平台。">
    <link  rel="stylesheet" type="text/css" href="../assets/css/core.css" media="all" />
  	<link rel="stylesheet" type="text/css" href="../assets/css/standard.css" media="all" />
  	<link rel="stylesheet" type="text/css" href="../assets/css/swiper.min.css" media="all" />
  	<link  rel="stylesheet" type="text/css" href="../assets/css/common_4.css" media="all" />
  	<link  rel="stylesheet" type="text/css" href="../assets/css/b-detail.css" media="all" />
</head>

<body>

<div class="page-container">
	<div class="header">
		<a class="header-back" href="javascript:history.go(-1)">
			<img src="../assets/images/arrow-black.png">
		</a>
		<h1 class="ellipsis book-title">书本详情</h1>
		<a class="header-search" href="search.html">
			<img src="../assets/images/search-black.png">
		</a>
		<a href="javascript:;" class="de-share">
			<img src="../assets/images/icon/share-black.png">
		</a>
	</div>
<div class="bg-opacity">
	<img src="http://zmring.oss-cn-hangzhou.aliyuncs.com/book/img/20180124/66545086142129938.jpg" class="opacity-img">
	<div class="book-detail-info">
		<div class="book-layout">
			<img src="http://zmring.oss-cn-hangzhou.aliyuncs.com/book/img/20180124/66545086142129938.jpg">
			<div class="book-cell">
				<p class="book-title font-title ellipsis">第一女废柴：妃战天下</p>
				<p class="book-author font-author ellipsis">乌拉拉</p>
				<p class="book-status font-style1">92.97万&nbsp;|&nbsp;
						
						完结
					
				</p>
				<p class="book-read font-style1"><span class="num">336</span>个书友正在阅读</p>
			</div>
			<div class="bg-1px"></div>
		</div>
	</div>
</div>
<div class="read-btn">
	<a class="read-free" href="book_read.html"><img src="../assets/images/read-free.png"></a>
	<a class="add-shelf" href="javascript:void(0)" onclick="addShelf()">
	
		<img src="../assets/images/add-shelf.png">
	
	</a>
	<div class="clear"></div>
</div>

<div class="book-desc">
	<p class="desc-content font-style2 cont-compress">一代药尊苏陌岚被人陷害，重生成为废材，脸有胎记，天生废材而且还身中剧毒，群狼虎视眈眈，她一人独战天下，为了自己也为了复仇…… </p>
	<p class="more"><span class="chevron_down"></span></p>
</div>
<div class="book-chapter">
	
	<a class="chapter-new font-title" href="b-read.html?channel=100194&amp;cid=286&amp;bid=ty105337">
	
	<span>最新</span>
		<p class="ellipsis">第286章：大结局</p>
		<img src="../assets/images/book_detail_arrow_ico.png"> 
	</a>
	<a class="chapter-total font-title" href="b-chapter.html?bid=ty105337">
		<span>查看更多章节</span>
		
		<img src="../assets/images/book_detail_arrow_ico.png"> 
	</a>
</div>
<div class="module-diver"></div><div class="module-row">
	<div class="module-title"><span></span>精彩评论</div>
	<a class="write-review" href="b-review-comm.html?bid=ty105337&amp;bname=第一女废柴：妃战天下"><img src="../assets/images/write-review.png"></a>
	<div class="clear"></div>
	<div class="review-list">
		
		
		<a class="review" href="b-review-detail.html?postid=1879&amp;bid=ty105337&amp;state=1">
			<div class="review-author">
				<img src="http://zmring.oss-cn-hangzhou.aliyuncs.com/img/2015/12/03/7327088054738.jpg" class="author-img">
				<div class="author-info">
					<p class="name">重度手机控</p>
					<p class="time">2018-07-31 17:07</p>
				</div>
				<div class="author-comments">
					0&nbsp;<img src="../assets/images/comments.png">
				</div>
			</div>
			<p class="review-content">
				曾经你在眼前，却又消失不见，这是爱你的第三天
			</p>
		</a>	
		
		<a class="review" href="b-review-detail.html?postid=1828&amp;bid=ty105337&amp;state=1">
			<div class="review-author">
				<img src="http://zmring.oss-cn-hangzhou.aliyuncs.com/img/2015/12/03/18218729377430.jpg" class="author-img">
				<div class="author-info">
					<p class="name">话少慢热请自便</p>
					<p class="time">2018-07-21 09:39</p>
				</div>
				<div class="author-comments">
					1&nbsp;<img src="../assets/images/comments.png">
				</div>
			</div>
			<p class="review-content">
				一段经典的女废柴崛起过程，试图一己之力走上白富美人生巅峰

			</p>
		</a>	
		
		<a class="review" href="b-review-detail.html?postid=1742&amp;bid=ty105337&amp;state=1">
			<div class="review-author">
				<img src="http://thirdwx.qlogo.cn/mmopen/vi_32/NRwiaU2JchfRGJUibMHVDppbt6wLX8icic0qFDXdCyicibYpBVNR7B11xL9vCRJ6Aja9AqoI4HiareSB5M0Rl1J6v6eYA/132" class="author-img">
				<div class="author-info">
					<p class="name">浩浩哥</p>
					<p class="time">2018-06-27 08:24</p>
				</div>
				<div class="author-comments">
					0&nbsp;<img src="../assets/images/comments.png">
				</div>
			</div>
			<p class="review-content">
				看了前面一点，比较好看
			</p>
		</a>	
		
		<a class="review-more" href="b-review.html?bid=ty105337"> 
			查看全部评论&nbsp;<img src="../assets/images/Pink_arrow.png" class="review-more-img">
		</a>
		
		
	</div>
<div class="module-diver"></div></div><div class="module-row">
	<div class="module-title"><span></span>本站最热</div>
	<div class="clear"></div>
	<div class="list">
		
		<a class="recomm-top recomm0" href="b-detail.html?bid=tyy34908&amp;channel=100194" style="display: block;">
			<div class="top-img">
				<img src="http://pic.tyread.com:8082/ycpt_T1BXKTB4ET1RCvBVdK_default.jpg">
			</div>
			<div class="top-desc">
				<span class="top-title">惊世嫡女</span>
				<div class="top-info">董可人重生了，死的时候，她正是花信年华。杀人凶手在众目睽睽之下将她推下河涌。却，无人救她，而杀人凶手，被千宠万爱。她俩的身份，本一个是云，一个是泥，只不过对方的心机却让她步步踏入万劫不复之地。睁眼再来，董可人不再做怯懦的蜗牛，也不再做倔强的蛮牛。巧笑嫣然，笑里藏刀，她比谁做的都要好。这一世，她必要肆意而活，不再自甘委屈。却遇到了意外。那个男人的闯入，她始料未及，却不曾拒绝。上一世，她欠的情，这一世，她以命来还。</div>
				<span class="top-author">云上歌</span> 
			</div>
		</a>
		
		
		<a class="recomm-top recomm1" href="b-detail.html?bid=yh1232&amp;channel=100194" style="display: block;">
			<div class="top-img">
				<img src="http://zmring.oss-cn-hangzhou.aliyuncs.com/book/img/20170718/50117807151641300.jpg">
			</div>
			<div class="top-desc">
				<span class="top-title">一朝妖女成皇妃</span>
				<div class="top-info">一只神秘莫测的口红将她带入了一个未知的世界，等待她的究竟是重生还是桎梏呢</div>
				<span class="top-author">水沫幽蓝</span> 
			</div>
		</a>
		
		
		<a class="recomm-top recomm2" href="b-detail.html?bid=db105015&amp;channel=100194" style="display: block;">
			<div class="top-img">
				<img src="http://zmring.oss-cn-hangzhou.aliyuncs.com/book/img/20171228/64213247419248216.jpg">
			</div>
			<div class="top-desc">
				<span class="top-title">夫君有福，便宜妻子要逆袭</span>
				<div class="top-info">一穷二白没有田，带着空间好挣钱；肤白貌美，细腰长腿的胡蔓一朝穿越竟然变成丑陋呆傻小农女。替姐嫁给大龄猎户，缺衣少粮吃不饱，剩下都是病弱老，还好夫君条顺颜高体格好，还有空间做法宝。言而总之，这就是一个现代药理专业大学生，穿越成丑女发家致富，成为人生赢家的故事。</div>
				<span class="top-author">水初心</span> 
			</div>
		</a>
		
		
		<a class="recomm-top recomm3" href="b-detail.html?bid=104298&amp;channel=100194" style="display: block;">
			<div class="top-img">
				<img src="http://zmring.oss-cn-hangzhou.aliyuncs.com/book/img/20170408/41396279643917462.jpg">
			</div>
			<div class="top-desc">
				<span class="top-title">桃运狂医</span>
				<div class="top-info">一部《神农内经》让方迟从连“杀”17人的杀人庸医，变成赫赫有名的神医！神医救人，却难医美人心。贴身的护士，高冷的警花，还有不要房租的美女房东，最难消受美人恩，方迟该如何选择？纷扰的都市，不一样的江湖。且看小小医生如何纵横都市，叱咤风云！</div>
				<span class="top-author">半城烟沙</span> 
			</div>
		</a>
		
		
		<a class="review-more"> 
			换一换&nbsp;<img src="../assets/images/Pink_change.png" class="changebook">
		</a>
	</div>
</div>
<div class="module-diver"></div></div>
	
	
	<div class="foot-menu">
		<a href="index.html">首页</a>
		<a href="search.html">淘书</a>
		<a href="pay.html"><span class="pay">充值</span></a>
		<a href="p-center.html?origin=2">我的</a>
		<!-- <a href="javascript:void(0)" class="client-download">客户端</a> -->
	</div>
	
	<div class="bottom-qrcode"></div>

<!-- 书籍详情模板 -->
<script id="book-detail" type="text/html">
<div class="bg-opacity">
	<img src="../assets/picture/{{bookinfo.iconurl}}" class="opacity-img">
	<div class="book-detail-info" >
		<div class="book-layout">
			<img src="../assets/picture/{{bookinfo.iconurl}}">
			<div class="book-cell">
				<p class="book-title font-title ellipsis">{{bookinfo.bname}}</p>
				<p class="book-author font-author ellipsis">{{bookinfo.author}}</p>
				<p class="book-status font-style1">{{bookinfo.wordnum}}&nbsp;|&nbsp;
					{{if bookinfo.status=='1'}}	
						完结
					{{else}}								
						连载中
					{{/if}}
				</p>
				<p class="book-read font-style1"><span class="num">{{nowreadnum}}</span>个书友正在阅读</p>
			</div>
			<div class="bg-1px"></div>
		</div>
	</div>
</div>
<div class="read-btn">
	<a class="read-free" href="#"><img src="../assets/picture/read-free.png"></a>
	<a class="add-shelf" href="javascript:void(0)" onclick="addShelf()">
	{{if bookinfo.isSC=='0'}}
		<img src="../assets/picture/add-shelf.png">
	{{else}}
		<img src="../assets/picture/add-shelf-already.png">
	{{/if}}
	</a>
	<div class="clear"></div>
</div>

<div class="book-desc">
	<p class="desc-content font-style2 cont-compress">{{bookinfo.introduction}}</p>
	<p class="more"><span class="chevron_down"></span></p>
</div>
<div class="book-chapter">
	{{if readVer =='old'}}
	<a class="chapter-new font-title" href="b-read.html?channel={{channel}}&cid={{bookinfo.newcid}}&bid={{bookinfo.bid}}">
	{{else}}
	<a class="chapter-new font-title" href="b-read-new.html?channel={{channel}}&cid={{bookinfo.newcid}}&bid={{bookinfo.bid}}">
	{{/if}}
	<span>最新</span>
		<p class="ellipsis">{{bookinfo.newchapter}}</p>
		<img src="../assets/picture/book_detail_arrow_ico.png"> 
	</a>
	<a class="chapter-total font-title" href="b-chapter.html?bid={{bookinfo.bid}}">
		<span>查看更多章节</span>
		
		<img src="../assets/picture/book_detail_arrow_ico.png"> 
	</a>
</div>
<div class="module-diver"></div>
</script>
<script id="review" type="text/html">
<div class="module-row">
	<div class="module-title"><span></span>精彩评论</div>
	<a class="write-review" href="b-review-comm.html?bid={{bookinfo.bid}}&bname={{bookinfo.bname}}"><img src="../assets/picture/write-review.png" ></a>
	<div class="clear"></div>
	<div class="review-list">
		{{if postlist!= null}}
		{{each postlist as v i}}
		<a class="review" href="b-review-detail.html?postid={{v.postid}}&bid={{v.bid}}&state=1">
			<div class="review-author">
				<img src="../assets/picture/{{v.uiconurl}}" class="author-img">
				<div class="author-info">
					<p class="name">{{v.uname}}</p>
					<p class="time">{{v.time}}</p>
				</div>
				<div class="author-comments">
					{{v.commtnum}}&nbsp;<img src="../assets/picture/comments.png" >
				</div>
			</div>
			<p class="review-content">
				{{v.content}}
			</p>
		</a>	
		{{/each}}
		<a class="review-more" href="b-review.html?bid={{bookinfo.bid}}"> 
			查看全部评论&nbsp;<img src="../assets/picture/pink_arrow.png" class="review-more-img">
		</a>
		{{else}}
		<a class="post-not" href="b-review-comm.html?bid={{bookinfo.bid}}&bname={{bookinfo.bname}}"><img src="../assets/picture/book-detail-post-not.png"></a>
		{{/if}}
		
	</div>
<div class="module-diver"></div>
</script>
<script id="reclist" type="text/html">
<div class="module-row">
	<div class="module-title"><span></span>相关作品</div>
	<div class="clear"></div>
	<div class="book_row_list">
		<div class="swiper-container">
	        <div class="swiper-wrapper">
				{{each reclist as v i}}
				<div class="swiper-slide">
	            	<a href="b-detail.html?bid={{v.bid}}&channel={{channel}}">
	            		<img src="../assets/picture/{{v.iconurl}}">
						<span>{{v.bname}}</span>
	            	</a>
	            </div>
				{{/each}}
	         </div>
	    </div>
	</div>
</div>
<div class="module-diver"></div>
</script>
<script id="hot-comm" type="text/html">
<div class="module-row">
	<div class="module-title"><span></span>本站最热</div>
	<div class="clear"></div>
	<div class="list">
		{{each booklist as v i}}
		<a class="recomm-top recomm{{i}}" href="b-detail.html?bid={{v.bid}}&channel={{channel}}">
			<div class="top-img">
				<img src="../assets/picture/{{v.iconurl}}">
			</div>
			<div class="top-desc">
				<span class="top-title">{{v.bname}}</span>
				<div class="top-info">{{v.introduction}}</div>
				<span class="top-author">{{v.author}}</span> 
			</div>
		</a>
		
		{{/each}}
		<a class="review-more"> 
			换一换&nbsp;<img src="../assets/picture/pink_change.png" class="changebook">
		</a>
	</div>
</div>
<div class="module-diver"></div>

</script>


<script type="text/javascript" src="../assets/js/common.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="../assets/js/jquery-2.1.4.min.js"></script>
<!-- jQuery Cookie -->
<script type="text/javascript" src="../assets/js/jquery.cookie.js"></script>
<!-- 微信分享  -->
<script type="text/javascript" src="../assets/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../assets/js/weixincfgs.js"></script>
<!-- swiper -->
<script type="text/javascript" src="../assets/js/swiper.jquery.min.js"></script>
<!-- template -->
<script type="text/javascript" src="../assets/js/template.js"></script>
<!-- 图片延迟加载 -->
<script type="text/javascript" src="../assets/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="../assets/js/ifslazy-common-tool-tool.js"></script>
<script type="text/javascript" src="../assets/js/channel.js"></script>
<script type="text/javascript" src="../assets/js/b-detail.js"></script>


</body>
</html>