.bd{padding:15px;font-size:12px;line-height:22px;color:#666;overflow:hidden;}
.bd p{padding-bottom:15px;}.bd p span{color:#333;font-size:14px;padding-bottom:5px;display:block;}
.bd p.tit{color:#333;text-indent:24px;}
.bold{font-weight:bold}

.foot_menu{background-color:#fff}