.page-container{width:100%;height:100%;}
.page-container .bg-sign{position:relative;color:#fff;height:20.5rem;}
.page-container .bg-sign .bg{position:absolute;width:100%}
.page-container .bg-sign .go-city{position:absolute;width:4.5rem;top:1.8rem;right:2rem}
.page-container .bg-sign .cur-date{position:absolute;top:1.8rem;left:2rem;letter-spacing:1px;font-size:.8rem;}
.page-container .bg-sign .sign-info{position:absolute;left:2rem;top:3.5rem;font-size:.7rem;}
.page-container .bg-sign .sign-info .day,.page-container .bg-sign .sign-info .ticket{font-size:1.2rem;color:yellow}
.page-container .bg-sign .calender{position:absolute;top:6.4rem;width:84%;height:13rem;left:8%;}
.page-container .bg-sign .calender table{width:100%;text-align:center;}
.page-container .bg-sign .calender th{color:#c3c3c3;width:14%;font-size:.9rem;font-weight:normal}
.page-container .bg-sign .calender td{color:#343434;width:14%;font-size:.7rem;padding:.5rem 0;}
.page-container .bg-sign .calender .signed{background: url(../images/signed.png) no-repeat center;background-size: 1.6rem 1.6rem;}
.page-container .bg-sign .calender .gift{background: url(../images/gift.png) no-repeat center;background-size: 1.2rem 1.2rem;}



.page-container .sign-tip{width:90%;margin-left:5%;}
.page-container .sign-tip .title{color:#F9777D;font-size:.9rem;}
.page-container .sign-tip .desc{letter-spacing:2px;font-size:.7rem;margin-top:.4rem}

.page-container .book-recomm{margin-top:1rem;border-top:4px solid #f5f5f5;text-align:center;padding-top:.6rem;}
.page-container .book-recomm .title{font-size:.9rem;color:#626262;display:inline-block;padding:0 1rem;}
.page-container .book-recomm .booklist{text-align:center;width:100%;}
.page-container .book-recomm .booklist .book{width:25%;display: inline-block;padding:3%;}
.page-container .book-recomm .booklist .book img{width:100%;}
.page-container .book-recomm .booklist .book p{font-size:.8rem;text-align:left;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
